body {
  margin: 0;
}


.container_main {
  margin-left: 10%;
  margin-right: 10%;
}
.container_2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.left_right {
    display: flex;
    width: 100%;
  }
  .left_main {
    width: 75%;
    margin: 10px 20px;
  }
  .app_heading {
    font-size: 60px;
  }
  .buy_heading {
    font-size: 60px;
    color: #4CAF50;
  }
  .left_pra {
    text-align: left;
    font-size: 15px;
  }
  .left_button {
    width: 25%;
    border: 0;
    height: 8vh;
    font-size: 15px;
    color: #6d6c6c;
  }
  .left_button:hover {
    background-color: #aeaeae;
    color: black;
  }
  .left_pra_2 {
    font-size: 16px;
    font-family: initial;
    padding-top: 20px;
  }
  .right_main {
    width: 25%;
    margin: 10px 20px;
  }
  .right_img {
    width: 100%;
  }

  .container_3 {
    background-color: #f1f1f1;
    height: auto;
    padding: 75px;
  }
  .left_right_2 {
    display: flex;
  }
  .left_main_2 {
    width: 30%;
  }
  .left_img {
    width: 100%;
    margin: 35px 10px;
  }
  .right_main_2 {
    width: 70%;
    margin: 35px 40px;
  }
  .clarity_heading {
    font-size: 60px;
  }
  .pixels_heading {
    font-size: 60px;
    color: #f44336;;
}
.right_pra {
    font-size: 18px;
  }
  .container_4 {
    background-color: #757575;
    height: 100%;
    text-align: center;
    color: white;
    padding-bottom: 30px;
  }
  .features_heading {
    padding-top: 100px;
    font-size: 50px;
  }
  .features_pra {
    font-size: 25px;
  }
  .icon_1 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 64px 0px;
  }
  .icon {
    width: 25%;
    text-align: center;
    font-size: 50px;
  }
  .fa-solid.fa-bolt-lightning {
    color: #ff9800;
  }
  .fa-solid.fa-heart {
    color: #f44336;
  }
  .fa-solid.fa-camera {
    color: #d2be0e;
  }
  .fa-solid.fa-battery-full {
    color: #4CAF50;
  }
  .fa-solid.fa-cloud {
    color: #2196F3;
  }
  .fa-solid.fa-earth-oceania {
    color: #ffc107;
  }
 .fa-solid.fa-hard-drive {
    color: #00bcd4;
  }
  .fa-solid.fa-shield-halved {
    color: #ff9800;
  }
  .fa-solid.fa-wifi {
    color: #fff;
    opacity: 0.20;
  }
  .fa-solid.fa-image {
    color: #e91e63;
  }
  
  p {
    margin: 16px 0px;
    font-size: 20px;
  }


.container_5 {
  text-align: center;
  padding-top: 50px;
}
  .box_left {
    width: 50%;
    border: 2px solid;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  .basic_heading {
    background-color: #6d6b6b;
    height: 80px;
    padding-top: 30px;
    margin-top: 0px;
    color: white;
    padding-bottom: 70px;
    
  }
  .premium_heading {
    background-color:orangered;
    height: 80px;
    padding-top: 30px;
    margin-top: 0px;
    color: white;
    padding-bottom: 70px;
  }
  .box_button {
    height: 50px;
    border: 0;
    margin-bottom: 20px;
    width: 40%;
    background-color: black;
    color: white;
  }
  .box_button:hover {
    background-color: #a5a5a5;
    color: black;
  }
  .container_5_box {
    display: flex;
  }
.box_left {
  margin: 10px 20px;
}
  .footer_main {
    text-align: center;
    background-color: #b4b4b4;
    height: 100px;
    padding-top: 30px;
    font-size: 20px;
    width: 100%;
  }

  .smart_design_main {
    width: 25%;
    background-color: black;
    opacity: 0.64;
    color: white;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    position: absolute;
    top: 400px;
    margin-left: 100px
  }
  .smart_design_button_1 {
    border: 1px solid white;
    background-color: blue;
    opacity: 0.64;
    padding: 10px;
    color: white;
    width: 100%;
  }
  .smart_design_button_2 {
    border: 1px solid white;
    background-color: red;
    opacity: 0.64;
    padding: 10px;
    color: white;
    width: 100%;
  }
  .smart_design_button_3 {
    border: 1px solid white;
    background-color: green;
    opacity: 0.64;
    padding: 10px;
    color: white;
    width: 100%;
  }
  .carousel-control-prev {
    display: none !important;
  }
  .carousel-control-prev-icon {
    display: none;
  }
  .take_tour_pra {
    background-color: black;
    padding: 10px;
    opacity: 3.24;
  }
  .smart_design_main:hover {
    background-color: black;
  }
  .smart_design_main_2:hover {
    background-color: black;
  }
  .smart_design_main_3:hover {
    background-color: black;
  }




  @media screen and (max-width: 1000px) {
    .container_main {
      margin-left: 0;
      margin-right: 0;
    }
 
   

  }




  @media screen and (max-width: 600px) {
    .container_main {
      margin-left: 0;
      margin-right: 0;
    }
    .smart_design_main {
      display: none;
    }
    .carousel-control-next{
      cursor: pointer;
      bottom: -365px;
    }
    .left_right {
      display: grid;
      width: 100%;
    }
   
    .left_button {
      padding: 10px;
      width: 50%;
    }
    .left_main {
      width: 85%;
      text-align: center
    }
    .right_main {
      width: 100%;
      
    }
    .right_img {
      width: 90%;
    }
    .left_right_2 {
      display: grid;
    }
    .left_main_2 {
      display: none;
    }
    .right_main_2 {
      font-size: 40px;
      text-align: center;
    }
    .container_5_box {
      display: grid;
      padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

    }
    .box_left {
      width: 100%;
      margin: 0px;
      margin-top: 20px;
    }
    .carousel-control-next {
      position: unset !important;
      width: 100% !important;
    }

    .take_tour_pra {
      width: 100%;
      background-color: black !important;
      color: white;
    }
    .smart_design_button_1 {
      border: 0;
     ;
    }
    .top_button_responsive {
      width: 100%;
      height: 45px;
      background-color: green;
      opacity: 0.67;
      color: white;
      border: 0;
    }
  }

  @media screen and (min-width: 600px) {
    .top_button_responsive{
      display: none;
      
    }

  }